.chat{
display:flex;
justify-content: center;

    .container{
        width:1200px;
        margin:50px;
        .breadcrumbs{
           font-weight: 300;
            font-size: 13px;
            color:gray;
        }
        .messages{
            margin: 30px 0px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap:20px;
            height:500px;
            overflow: scroll;

            .item{
                display: flex;
                gap:20px;
                max-width: 600px;
                font-size: 16px;

                &.owner{
                    flex-direction: row-reverse;
                    align-self: flex-end;

                    p{
                        border-radius: 20px 0px 20px 20px;
                        background-color: #007bff;
                        color:white;
                    }
                }

                p{
                    max-width: 500px;
                    padding:18px;
                    background-color: rgb(235, 234, 234);
                    border-radius: 0px 20px 20px 20px;
                    color:rgb(59, 59, 59);

                }

            }
        }
        hr{
            height: 0;
            border:0.5px solid rgb(213, 211, 211);
            margin-bottom: 20px;
        }
        .write{
            display: flex;
            align-items: center;
            justify-content: space-between;

            textarea{
                width:80%;
                height:100px;
                padding:10px;
                border:1px solid lightgray; 
                border-radius: 10px;
            }

            button{
                background-color: #007bff;
                padding:15px;
                color:white;
                border:none;
                margin-left: 2rem;
                border-radius: 10px;
                cursor: pointer;
                width:90px;
            }
        }
    }
}

.link{
    text-decoration: none;
}
#user-icon{
    width:40px;
    height: 40px;
    object-fit: cover;
}
#chat-heading{
    text-align: center;
    font-size: 14px;
    color:rgb(111, 111, 111);
}