*{
    font-family: sans-serif;
    background-color: rgba(230, 243, 250, 0.151);
}
.login{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        border-radius: 10px;
        background-color: rgba(250, 253, 255, 0.205);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px;
        width: 50%;
        height: 60%;

        input{
            background-color: rgba(130, 203, 240, 0);
            border: none;
            border-bottom: 1px dotted  rgb(157, 157, 200);
            padding: 10px;
            width: 60%;
        }
        button{
            margin-top: 10px;
            width: 60%;
            border: none;
            padding: 12px;
            color: white;
            border-radius: 10px;
            background-color: rgb(96, 101, 184);
            cursor: pointer;
            transition: background-color 0.3s ease; /* Add a transition for the background color */

        }

        button:hover {
            background-color: rgb(126, 133, 242); /* Change the background color on hover */
        }
        a{
            cursor: pointer;
            font-size: 12px;
            margin: 16px;
            text-decoration: none;
            color: black;
        }

    }
}

.signin{
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(59, 59, 59);
    font-weight: bold;
}
a{
    color: white;
}
#redirect-link{

}
#redirect-link:hover{
    color: rgb(96, 101, 184);
}