.container-orders {
    padding: 20px;
  }
  
  .orders-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff; // White background for the order container
    padding: 20px;
    border-radius: 8px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .orders-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40; // Dark grey text for the heading
  }
  
  .no-orders {
    text-align: center;
    font-size: 18px;
    color: #888;
  }
  
  .orders-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .order-item {
    border: 1px solid #dee2e6; // Light grey border for each order item
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
  }
  
  .order-item h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #007bff; // Blue color for order ID
  }
  
  .order-item p {
    margin: 5px 0;
    color: #495057; // Dark grey text for order details
  }
  
  .order-products {
    margin-top: 10px;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6; // Light grey border for each product item
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  .product-item img {
    width: 100px; // Fixed width for product image
    height: auto;
    border-radius: 4px;
    margin-right: 15px;
  }
  
  .product-details {
    flex-grow: 1;
  }
  
  .product-details h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #343a40; // Dark grey text for product title
  }
  
  .product-details p {
    font-size: 14px;
    color: #6c757d; // Medium grey text for product details
    margin: 2px 0;
  }
  