.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:150px;
    margin-bottom: 0px;
}
.footer span{
    margin-left: 20px;
    font-size: 13px;
    color:rgb(161, 158, 158);
}

img{
    margin-bottom: 5px;
}
