.custom-dropdown-item {
  margin-right: 2rem;
  overflow-x: hidden; // Prevent horizontal scrolling in the dropdown menu
}



#nav{
  padding-left: 7rem;
  padding-right: 8rem;
  background-color: white !important;
}

