.custom-dropdown-item {
  margin-right: 2rem;
  overflow-x: hidden; // Prevent horizontal scrolling in the dropdown menu
}



#nav{
  padding-left: 7rem;
  padding-right: 8rem;
  background-color: white !important;
}

#loginbtn{
  color:rgb(104, 106, 112) !important;
  border:1px solid rgb(211, 214, 219) !important;

  &:hover{
    background-color: #007bff !important;
    color: white !important;
}
}