.slide{

    .container{
        width:80rem;
}
}
.swiper-slide.swiper-slide-active {
    width:5rem;
  }
  .swiper-slide.swiper-slide-next {
    width:5rem;
  }

.swiper-slide{
    width:10rem;
}
.swiper-wrapper{
    width:80rem;
}
